.btn-primary{
    background-color: rgba(255,63,63,1) !important;
    border-color: rgba(255,63,63,1) !important;
}

.table-head{
    background-color: rgba(255,63,63,1) !important;
    border-color: rgba(255,63,63,1) !important;
    color: white;
}


.container-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.card-form .card-title{
    text-align: center;
}
