<app-menu-cliente></app-menu-cliente>
<div class="container-card">
    <div class="card-form">
        <div class="row">
            <div class="card-title">
                <h1>
                    Mis ordenes
                    <i class="fa fa-book-open" ></i>
                </h1>
            </div>

        </div>

        <div class="row">
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead class="table-head">
                        <th scope="col">fecha</th>
                        <th scope="col">total</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Estado</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of lista_ordenes.datos">
                            <td>{{order.fecha_hora | date:'medium' }}</td>
                            <td>{{order.total}}</td>
                            <td>{{order.direccion}}</td>
                            <td>{{order.nombre_estado}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
