<div class="product-container">
    <div class="product" *ngFor="let prod of productos">
      <div class="info">
        <h2>{{prod.nombre}}</h2>
        <img src="{{prod.imagen}}" alt="{{prod.nombre}}" />
      </div>
      <div class="options">
        <span><span class="qty">x{{prod.cantidad}}</span>   Q.{{prod.cantidad*prod.precio}}</span>
        <div (click)="deleteProduct(prod.id)" class="exit-btn"><i class="fas fa-times"></i></div>
      </div>

    </div>
    <div class="total">
      <p>Total</p>
      <strong>Q.{{total}}</strong>
    </div>
  </div>