.product{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
}

.exit-btn{
    background-color: #ae1414;
    color: white;
    left: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 10px;
}

.exit-btn:hover{
    cursor: pointer;
}

.options{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.exit-btn i {
    padding-left: 9px;
    padding-top: 7px;
}

.product {
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.377);
}
.info{
    width: 60%;
}
.product .info h2 {
    font-size: 20px;
}

.product .qty {
    padding-right: 20px;
    font-style: italic;
    font-size: 20px;
}

.product .info img{
    width: 40%;
}

.total{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 20px;
}