h1,h2,h3 {
    width: 100%;
    text-align: center;
}

.carousel-banner mdb-carousel img,
.carousel-banner mdb-carousel video {
    height: 500px;
    width: 100%;
}

.cards-foods{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-food {
    padding: 10px;
    width: 15%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-food img {
    width: 40%;
    margin: 15px;
}

.card-food h5 {
    font-size: 12px;
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-step {
    display: flex;
    flex-direction: row;
    width: 33%;
    margin: 20px;
    padding: 20px;
}

.card-step img {
    width: 75px;
    height: 75px;
    margin: 10px;
}

.card-step .info {
    display: flex;
    flex-direction: column;
}

.restaurants{
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-grid-3{
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    justify-content: center;
}

.card-grid-4{
    display: grid;
    grid-template-columns: repeat(4, calc(100%/4));
    justify-content: center;
}

.card-rest{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 20px;
}

.card-rest img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.card-prod{
    margin: 15px;
}

.card-prod .info .res{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(82, 82, 82, 0.521);

}

.card-prod .info .res img {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    background: white;
    border-radius: 5px;
    margin: 5px;
}

.card-prod .info .res h3 {
    text-align: left;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.card-prod h2{
    font-size: 22px;
    text-align: left
}
.card-prod .info {
    padding: 20px 20px 5px 20px;
}
.card-prod .price {
    text-decoration: line-through;
}

.offer-price{
    font-weight: bold;
}

.card-prod .actions {
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.card-prod .btn-action {
    border-radius: 100%;
    box-shadow: none;
    background-color: rgba(255,63,63,1);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}