<app-menu></app-menu>
<div class="carousel-banner">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">

        <mdb-carousel-item>
          <img class="d-block w-100" src="/assets/img/portada-2.jpg" alt="">
        </mdb-carousel-item>

        <mdb-carousel-item>
          <img class="d-block w-100" src="/assets/img/portada-1.jpg" alt="">
        </mdb-carousel-item>

      </mdb-carousel>
</div>

<div class="cards-foods">
  <div class="card card-food">
      <img src="/assets/img/icons/011-burger.png" alt="icon" />
      <h5>Variedad de Comida</h5>
  </div>
  <div class="card card-food">
    <img src="/assets/img/icons/039-cashless payment.png" alt="icon" />
    <h5>Distintos Métodos de Pago</h5>
  </div>
  <div class="card card-food">
    <img src="/assets/img/icons/004-online store.png" alt="icon" />
    <h5>Variedad de Restaurantes</h5>
  </div>
  <div class="card card-food">
    <img src="/assets/img/icons/045-door delivery.png" alt="icon" />
    <h5>Hasta la Puerta de tu casa</h5>
  </div>
</div>

<div class="steps">
  <div class="card card-step">
    <img src="/assets/img/icons/001-restaurant.png" alt="icon" />
    <div class="info">
      <h5>Choose your area restaurant</h5>
      <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
    </div>
  </div>
  <div class="card card-step">
    <img src="/assets/img/icons/008-pizza.png" alt="icon" />
    <div class="info">
      <h5>Choose your area restaurant</h5>
      <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
    </div>
  </div>
  <div class="card card-step">
    <img src="/assets/img/icons/005-food delivery.png" alt="icon" />
    <div class="info">
      <h5>Choose your area restaurant</h5>
      <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
    </div>
  </div>
</div>
<div class="restaurants">
  <h2>Restaurantes Asociados USAC 2021 AYD2</h2>
  <div class="card-grid-3">
        <div class="card card-rest" *ngFor="let rest of restaurantes" >
          <img src="{{rest.logo}}" alt="icon" />
          <h4>{{rest.nombre}}</h4>
        </div>
    </div>
</div>
<div class="products">
  <h2>Productos en Oferta</h2>
  <mdb-carousel [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'">
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-4 pb-2" *ngFor="let prod of item; let cardIndex = index">
      <div class="card card-prod" >
        <img class="prod-image" src="{{prod.fotografia}}" alt="{{prod.nombre}}" />
        <div class="info">
          <h2>{{prod.nombre}}</h2 >
          <p class="price">Q.{{prod.precio}}</p>
          <p class="offer-price">Q.{{prod.oferta}}</p>
        </div>
        <div class="actions">
          <button class="btn-action" (click)="addtoCart(prod)" ><mdb-icon fas icon="shopping-cart"></mdb-icon></button>
          <!-----<button class="btn-action"><mdb-icon fas icon="eye"></mdb-icon></button>------->
        </div>
    </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

  <div class="card-grid-4">
   
  </div>
</div>