<app-menu-restaurante></app-menu-restaurante>

<div class="my-container">
    <div class="card-form">
        <div class="card-title">
            <i class="bi bi-box-seam"></i>
             <h1>Detalle Producto</h1>
        </div>
       <div class="container-divs">
        <div class="container-div container-img">
            <img class="img-preview" [src]="producto.fotografia" alt=""/>
       </div>
        <div class="container-div">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" type="text" name="nombre" [value]="producto.nombre" placeholder="Nombre Producto" readonly/>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">            
                            Q.
                        </span>
                      </div>
                    <input class="form-control" type="text" name="precio" placeholder="Precio Producto" [value]="producto.precio" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="precio">Precio de Oferta</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">            
                            Q.
                        </span>
                      </div>
                    <input class="form-control" type="text" name="precio" placeholder="Precio Oferta" [value]="producto.oferta" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" name="descripcion" [value]="producto.descripcion" placeholder="Descripción" readonly></textarea>
            </div>   
        </div>
       </div>
    </div>
</div>
