.card-title{
    display: flex;
    flex-direction: row;
}

.my-container{
    padding-top: 30px;
}

.card-title i{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.container-divs{
    display: flex;
    flex-direction: row;
}

.container-div{
    width: 50%;
}

.container-img{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-preview{
    width: 90%;
}