.input-group-btn button{
    border-radius: 0 5px 5px 0;
    background-color: rgba(255,63,63,1) !important;
    border-color: rgba(255,63,63,1) !important;;
}

.btn-primary{
    background-color: rgba(255,63,63,1) !important;
    border-color: rgba(255,63,63,1) !important;
}

.spinner-grow{
    background-color: rgba(255,63,63,1) !important;
}

.line-throw{
    text-decoration: line-through;
}

.image-card{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.card-header{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(82, 82, 82, 0.521);
    color: white;
    font-weight: bold;
}