<app-menu></app-menu>
<div class="container p-4">

  <div *ngIf="spinner; then carga else lista"></div>


  <ng-template #carga>
    <div class="d-flex justify-content-center ">
      <div class="spinner-grow text-primary" style="width: 200px; height: 200px;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>

  <ng-template #lista>
      <!--Buscador-->
  <div class="row">

    <div class="col-lg-12">
      <div class="mb-3">
        <div class="input-group">
          <input type="text" class="form-control" name="nombre" [(ngModel)]= "nombre" placeholder=""> 
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click) = "search_producto()">Buscar</button>
          </span>
        </div>
      </div>
    </div>
  </div>



<div class="row">
  <div class="col-md-4" *ngFor="let producto of catalogo.msg">
      <div class="card text-center h-90">
      
          <div class="card-header">
            <img class="image-card" src="{{producto.logo_restaurante}}" alt="" />
              {{producto.nombre_restaurante}}
          </div>
          <img src="{{producto.fotografia}}" class="card-img-top" style="width: 100%; height: 250px;">
          <div class="card-body">
              <p>{{producto.nombre}}</p>
              <p [ngClass]="{'line-throw':producto.oferta}">Precio: Q.{{producto.precio}}</p>
              <p *ngIf="producto.oferta">Precio Oferta: Q.{{producto.oferta}}</p>
              <button type="button" 
                 (click)= "detalle_producto(producto)"
                  class="btn btn-primary" 
                  data-bs-toggle="modal" 
                  data-bs-target="#ver_producto" 
                  id="detalles"
              >
                  Detalles
                  <i class="fa fa-book-open"></i>
              </button>
          </div>
      </div>
    <br>
      </div>
</div>
  </ng-template>


</div>

<!--Moda para mostrar dettalls del componente-->

<div class="modal fade" id="ver_producto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalle
            <i class="fa fa-align-left"></i>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                          <h3>{{producto.nombre}}</h3>
                        </div>
                        <div class="form-group">
                          <p>{{producto.descripcion}}</p>
                        </div>
                        <div class="form-group">
                          <h5 [ngClass]="{'line-throw':producto.oferta}">Precio: Q.{{producto.precio}}</h5>
                          <h5 *ngIf="producto.oferta">Precio Oferta: Q.{{producto.oferta}}</h5>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <img src="{{producto.fotografia}}" class="card-img-top">
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="addtoCart()" data-bs-dismiss="modal">
            Agregar al carrito
          <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>