<app-menu-restaurante></app-menu-restaurante>

<div class="container-card">
    
    <div class="card-form">
        <div class="row">
            <div class="card-title">
                <h1>Lista de Productos
                    <i class="fa fa-boxes"></i>
                </h1>
            </div>
        </div>
        <div class="row rowl">
            <div class="listopt">
                <button type="button" class="btn btn-primary" routerLink="./nuevo">
            nuevo producto
          <i class="fa fa-plus"></i>
          </button>
            </div>
        </div>
    <div class="row">
        <div class="table-scroll">
            <table class="table table-striped">
                <thead class="table-head"> 
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Opciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productos">
                        <td>{{product.nombre}}</td>
                        <td>{{product.descripcion}}</td>
                        <td><span [ngClass]="{'tach': product.oferta && product.oferta>0}">Q.{{product.precio}} </span><span *ngIf="product.oferta && product.oferta>0" style="font-weight: bold;">Q.{{product.oferta}}</span></td>
                        <td style="width: 20%;">
                            <div class="btns">
                                <button class="mbtn-success" routerLink="/detalle-producto/{{product.id}}">
                                    <i class="bi bi-eye"></i>
                                </button>
                                <button class="mbtn-warning" routerLink="./editar/{{product.id}}">
                                    <i class="bi-pencil"></i>
                                    </button>
                                <button class="mbtn-danger" (click)="delete(product.id)">
                                    <i class="bi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>