
.container-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.card-form .card-title{
    text-align: center;
}

.tach {
    text-decoration: line-through;
}

.btn-primary{
    background-color: rgba(255,63,63,1) !important;
    border-color: rgba(255,63,63,1) !important;
}

.table-head{
    background-color: rgba(255,63,63,1) !important;
    border-color: rgba(255,63,63,1) !important;
    color: white;
}

.listopt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
}


.table-scroll table{
    width: 100%;    
}



.btns button{
    width: 40px;
    height: 40px;
    font-size: 20px;
    box-shadow: none;
    border: none;
    border-radius: 100%;
    margin-left: 15px;
    color: white;
}
