<app-menu-restaurante></app-menu-restaurante>
<div class="my-container">
    <form class="card-form">
        <div class="card-title">
             <h1>Nuevo Restaurante</h1>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" name="nombre" placeholder="Nombre" [formControl]="nombre" />
        </div>

        <div class="form-group">
            <label for="descripcion">Direccion</label>
            <textarea class="form-control" name="descripcion" placeholder="Direccion" [formControl]="direccion"></textarea>
        </div>
        <label for="imagen">Imagen</label>
        <div class="form-group-horizontal">
           <div class="form-group">
                <input class="form-control" 
                #file (change)="onFileChange($event)" accept="image/*"
                type="file" name="imagen" placeholder="Imagen"/>
           </div>
            <div class="form-group">
                <img class="img-preview" [src]="imagen.base64" />
            </div>
        </div>
        <div class="form-btn">
            <button class="mbtn-secondary" routerLink="../" type="button">Cancelar</button>
            <button class="btn btn-primary"  (click)="save()" type="button">Guardar</button>
        </div>
    </form>
</div>
