.container-card{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card .card {
    width: 50%;
}

.card {
    padding: 25px;
}

.card .card-title {
    text-align: center;
}

.mdbtn-primary {
    background-color:  rgba(255,63,63,1) !important;
}

.mdbtn-secondary{
    background-color: rgba(255,140,70,1) !important; 
}