<app-menu></app-menu>
<div class="container-card">
    <div class="card">
        <div class="card-title">
            <h1>Iniciar Sesión</h1>
        </div>
        <div class="card-body">
            <input class="form-control" id="login-email" type="text" placeholder="  usuario" name="user" [(ngModel)]="user.email"><br>
            <input  class="form-control" id="login-password" type="password" placeholder="  password" name="password" [(ngModel)]="user.password"><br>
           
            <button mdbBtn color="info" id="login-btn"  class="w-100 mdbtn-primary" name="ingresar" value="Ingresar" type="submit" (click)="iniciarSesion()">Ingresar</button>

            <button mdbBtn color="info" class="w-100 mdbtn-secondary" type="button" (click)="iniciarSesion_anonimamente()">
                Ingresar como anónimo</button>
                <p id="message">{{message}}</p>
        </div>
    </div> 
</div>