<div class="body"></div>
<div class="grad"></div>

<div class="login">
    <input type="text" placeholder="consulta a mysql" name="query" [(ngModel)]="user.consulta"><br>
    <input type="button" value="enviar" (click)="consultar()">
</div>
