footer {
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 40px;
}

footer p {
    margin: 0;
    width: 100%;
}

.btn-primary{
    background-color: rgba(255,63,63,1) !important;
    border-color: rgba(255,63,63,1) !important;
}