<!----<button class="btn btn-primary">
  <i class="fa fa-dungeon"></i>Login
</button>
---->

<router-outlet></router-outlet>

<footer>&copy; Copyright 2021 Grupo 13 AyD2</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fas fa-shopping-cart"></i>
          Productos para Ordenar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <carrito-compras></carrito-compras>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="vaciarCarrito()" data-dismiss="modal">Vaciar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-orange" (click)="crearOrden()">Crear Orden</button>
      </div>
    </div>
  </div>
</div>