<app-menu-restaurante></app-menu-restaurante>
<div class="my-container">
    <form class="card-form">
        <div class="card-title">
            <i class="bi bi-box-seam"></i>
             <h1>Nuevo Producto</h1>
        </div>

        <!--Este boton es utilizado para realizar una prueba-->
        <button class="btn-primary" style="display: none;" id="prueba"
            name="btn_prueba" value="prueba"
            (click)="saveProduct('https://www.medstartr.com/main/images/no-image.png')" 
            type="submit" >Prueba</button>

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" id="newproduct-nombre" name="nombre" placeholder="Nombre Producto" [formControl]="nombre" />
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">            
                        Q.
                    </span>
                  </div>
                <input class="form-control" type="text" id="newproduct-precio" name="precio" placeholder="Precio Producto" [formControl]="precio" />
            </div>
        </div>
        
        <div class="form-group">
            <label for="precio">Precio de Oferta</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">            
                        Q.
                    </span>
                  </div>
                <input class="form-control" type="text" name="oferta" placeholder="Precio Oferta" [formControl]="oferta" />
            </div>
        </div>

        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" name="descripcion" placeholder="Descripción" [formControl]="descripcion"></textarea>
        </div>
        <label for="imagen">Imagen</label>
        <div class="form-group-horizontal">
           <div class="form-group">
                <input class="form-control" 
                #file (change)="onFileChange($event)" accept="image/*"
                type="file" name="imagen" id="imagen_file" placeholder="Imagen"/>
           </div>
            <div class="form-group">
                <img class="img-preview" [src]="imagen.base64" />
            </div>
        </div>
        <div class="form-btn">
            <button class="mbtn-secondary" routerLink="../" type="button">Cancelar</button>
            <button class="btn btn-primary" id="btn_guardar" name="guardar" value="guardar" (click)="save()" type="submit">Guardar</button>
        </div>
        <p id="mensaje">{{mensaje}}</p>
    </form>
</div>
