<app-menu-restaurante></app-menu-restaurante>
<div class="container-card">
  
    <div class="card-form">
        <div class="row">
            <div class="card-title">
              <h1>Ordenes
                <i class="fa fa-book-open"></i>
              </h1>
            </div>
        </div>

        <div class="row">
            <div class="table-scroll">
                <table class="table table-striped">
                    <thead class="table-head">
                        <th scope="col">fecha</th>
                        <th scope="col">total</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Ver Detalle</th>
                        <th scope="col">Modificar Estado</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of lista_orden">
                            
                            <td>{{order.fecha_hora | date:'medium' }}</td>
                            <td>Q. {{order.total}}</td>
                            <td>{{order.nombre_cliente}}</td>
                            <td>{{order.direccion}}</td>
                            <td>{{order.nombre_estado}}</td>
                            <td>Buton para ver el detalle</td>
                            <td>
                              <button class="btn btn-primary"
                                 (click) = "capturar_orden(order)"
                                 data-bs-toggle="modal" 
                                 data-bs-target="#update_estado" 
                                >
                                <i class="bi-pencil"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Crear un modal para cambiar el estado-->

<div class="modal fade" id="update_estado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Orden # {{Orden.id}}
            <i class="fa fa-align-left"></i>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                  <form>
                    <div class="form-group">
                      <h5>{{Orden.nombre_cliente }}</h5>
                    </div>
                    <div class="form-group">
                      <h5>Q.{{Orden.total}}</h5>
                    </div>
                    <div class="form-group">
                      <p>{{Orden.direccion}}</p>
                    </div>
 
                </form>
                </div>
                <div class="col-6">
                  <div class="form-check" *ngFor="let estado of lista_estados.datos; index as i">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" 
                            id="flexRadioDefault1"
                            [(ngModel)]="valor"
                            [value] = "estado.id"
                    >
                    <label class="form-check-label" for="flexRadioDefault{{i}}">
                      {{estado.nombre}}
                    </label>
                  </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"
            (click) = "update_orden()"
            data-bs-dismiss="modal"
          >
            Modificar Estado
          <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>