<div class="background-menu">
    <img routerLink="" class="logo" src="/assets/img/logo.png" alt="d&f">
    <ul class="menu">
        <li><a routerLink="/ordenes" >Ordenes</a></li>
        <li><a routerLink="/productos" >Productos</a></li>
        <li *ngIf="user" class="carrito" (click)="logout()"> <i class="fas fa-sign-out-alt"></i> </li>

    </ul>
</div>