<app-menu></app-menu>
<div class="container-card">
    <div class="card">
        <div class="card-title">
            <h1>Registrarse</h1>
        </div>
        <div class="card-body">
            <input class="form-control" type="text" placeholder="  nombre" name="nombre" [(ngModel)]="user.nombre"><br><br>
            <input class="form-control" type="text" placeholder="  correo" name="correo" [(ngModel)]="user.correo"><br><br>
            <input class="form-control" type="text" placeholder="  direccion" name="direccion" [(ngModel)]="user.direccion"><br><br>
            <input class="form-control" type="text" placeholder="  telefono" name="telefono" [(ngModel)]="user.telefono"><br>   <br>     
            <input class="form-control" type="password" placeholder="  password" name="password" [(ngModel)]="user.contrasenia"><br><br>
            
            <div *ngIf="user.rol_id == 2 ">
                <label for="imagen">Imagen</label>
        <div class="form-group-horizontal">
           <div class="form-group">
                <input class="form-control" 
                #file (change)="onFileChange($event)" accept="image/*"
                type="file" name="imagen" placeholder="Imagen"/>
           </div>
            <div class="form-group">
                <img class="img-preview" [src]="imagen.base64" />
            </div>
        </div>
            </div>
            <button mdbBtn color="info"  class="w-100 mdbtn-primary" type="submit"  (click)="registrar()">Registrarse</button>
        </div>
        <div *ngIf="user.rol_id == 1" class="card-footer">
            <p >¿Deseas formar parte de nuestros restaurantes?
            </p>
            <p>                
                <a routerLink="/registro/restaurante">Registrate</a> como restaurante y ofrece tus productos a nuestros clientes 
            </p>
        </div>
        <div *ngIf="user.rol_id == 2" class="card-footer">
            <p >¿Deseas comprar comida?
            </p>
            <p>                
                <a routerLink="/registro">Registrate</a> como 
                cliente y deja que nuestros repartidores lleven tus comidas favoritas a la 
                puerta de tu casa. 
            </p>
        </div>
    </div> 
</div>