.container-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.container-card .card {
    width: 50%;
}

.card {
    padding: 25px;
}

.card .card-title {
    text-align: center;
}

.mdbtn-primary {
    background-color:  rgba(255,63,63,1) !important;
}

.mdbtn-secondary{
    background-color: rgba(255,140,70,1) !important; 
}

.card-footer{
    background-color: transparent;
}


.form-group-horizontal{
    display: flex;
    flex-direction: row;
}

.form-group-horizontal div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.img-preview{
    width: 50%;
}

@media(max-width:884px){
    .form-btn button{
        width: 50%;
    }

    .form-group-horizontal{
        flex-direction: column;
    }

    .form-group-horizontal div{
        width: 100%;
    }
}
