.card-title{
    display: flex;
    flex-direction: row;
}

.my-container{
    padding-top: 35px;
}

.card-title i{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.btn-primary{
    background-color: rgba(255,63,63,1) !important;
    border-color: rgba(255,63,63,1) !important;
}



.form-group{
    display: flex;
    flex-direction: column;
}

.form-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form-btn button{
    width: 15%;
    margin-left: 10px;
    padding: 15px;
    box-shadow: none;
    border: none;
    color: white;
}

.img-preview{
    width: 50%;
}

.form-group-horizontal{
    display: flex;
    flex-direction: row;
}

.form-group-horizontal div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

@media(max-width:884px){
    .form-btn button{
        width: 50%;
    }

    .form-group-horizontal{
        flex-direction: column;
    }

    .form-group-horizontal div{
        width: 100%;
    }
}
