<div class="background-menu">
    <img routerLink="" class="logo" src="/assets/img/logo.png" alt="d&f">
    <ul class="menu">
        <li><a routerLink="/catalogo" >Productos</a></li>
        <li><a routerLink="/ordenes-cliente" >Mis ordenes</a></li>
        <li><a routerLink="/#" >Salir</a></li>
        <li class="carrito" data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-shopping-cart"></i> </li>
        <li *ngIf="user" class="carrito" (click)="logout()"> <i class="fas fa-sign-out-alt"></i> </li>
 
    </ul>
</div>