.background-menu {
    width: 100%;
    background-image: radial-gradient( circle 345px at 0.3% 53.6%,  rgba(255,140,70,1) 0%, rgba(255,63,63,1) 100.7% );
    padding: 5px 10px 5px 10px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
    height: auto;
}

.logo:hover {
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu li a{
    display: flex;
    padding: 25px;
    cursor: pointer;
    color: white;
    transition: 200ms all;
}

.menu li a:hover{
    color: rgba(255, 255, 255, 0.699);
    text-decoration: none;
}

.carrito{
    padding: 25px;
    transition: all 3ms;
    color: white;
}

.carrito:hover {
    transform: scale(1.5);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.699);
}