<div class="background-menu">
    <img routerLink="" class="logo" src="/assets/img/logo.png" alt="d&f">
    <ul class="menu">
        <li *ngIf="!user" id="menu-login"><a routerLink="/iniciar-sesion" >Iniciar Sesión</a></li>
        <li *ngIf="!user" id="menu-register"><a routerLink="/registro" >Registrarse</a></li>
        <!--------cliente -->
        <li *ngIf="user && user.rol == 1"><a routerLink="/catalogo" >Comprar</a></li>
        <li *ngIf="user  && user.rol == 1"><a routerLink="/ordenes-cliente" >Mis ordenes</a></li>

        <!------restaurante-->
        <li *ngIf="user && user.rol == 2"><a routerLink="/ordenes" >Ordenes</a></li>
        <li *ngIf="user && user.rol == 2"><a routerLink="/productos" >Productos</a></li>

        <li *ngIf="user" id="menu-user"><a>{{user.nombre}}</a></li>
        <li class="carrito" data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-shopping-cart"></i> </li>
        <li *ngIf="user" class="carrito" (click)="logout()"> <i class="fas fa-sign-out-alt"></i> </li>

    </ul>

</div>
