/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body{
    background-color: #eee;
    font-family: 'Source Sans Pro',sans-serif;    
}

h1{
    font-family: 'Exo',sans-serif;
    color: black;
}

.my-container{
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 2px;
}

.card-form{
    background-color: white;
    padding: 25px;
    width: 90%;
    margin-bottom: 25px;
}

.mbtn-secondary{
    background-color: var(--dark);
}

.mbtn-success{
    background-color: var(--success);
}

.mbtn-warning{
    background-color: var(--warning);
}

.mbtn-danger{
    background-color: var(--danger);
}


.mdbtn-primary {
    background-color:  rgba(255,63,63,1) !important;
}

.mdbtn-secondary{
    background-color: rgba(255,140,70,1) !important; 
}